{% extends 'base.html' %}
{% block content %}

    <h1>Profiles</h1>



    <ul>
        {% for x in object_list %}

        {{x.id}}
        {{x.user.id}}
        {{user.id}}
            <li>
                {% if x.user.id == user.id %}
                    <a href="{% url 'show_profile_page' x.id %}">
                        {{x.user.first_name}} - {{x.user.last_name}}
                    </a> 
                {% else %}
                    {{x.user.first_name}} - {{x.user.last_name}}
                {% endif %}
                

                <br/>
                {{x.user.email}}
            </li>   
        {% endfor %}
    </ul>

{% endblock %}