{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="display: flex; ">
        <h1>wiiHomes</h1>      <small class="text-muted" style="justify-content: center;">plug your world in!</small>
    </div>
    
    <br/>
    {% if user.is_authenticated %}
        {% if user.profile.id %}
            <div class="text-center">
                <h6 style="color: rgb(144, 144, 144);">
                    Check out you're profile
                    <a class="card-link" href="{% url 'show_profile_page' user.profile.id %}">here</a>
                </h6>
            </div>
        {% else %}
            <div class="text-center">
                <h6 style="color: rgb(144, 144, 144);">
                    Create you're profile and sign your home up 
                    <a class="card-link" href="{% url 'create_profile_page' %}">here</a>
                </h6>
            </div>
        {% endif %}
    {% else %}
        <div class="text-center">
            <h6 style="color: rgb(144, 144, 144);">
                You are not logged in. Please log in 
                <a class="card-link" href="{% url 'login' %}">here</a>
                ... Not yet a member? Register
                <a class="card-link" href="{% url 'register' %}">here</a>
            </h6>
        </div>
    {% endif %}
    <br/>

    <h3 style="color: rgb(144, 144, 144);">Meet Our Active Members</h3>
    <br/>

    <ul>
        {% for x in object_list %}

        <div class="shadow  mb-2 bg-body rounded" style="max-width: 540px;">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        {% if x.profile_picture %}
                            <div class="col-md-4">
                                <img src="{{x.profile_picture.url}}" class="img-fluid rounded-start" alt="...">
                            </div>
                        {% else %}
                            <div class="col-md-4 d-flex align-items-center justify-content-center" style="background: rgb(201, 196, 196);">
                                {% if x.user.id == user.id %}
                                    <a href="{% url 'edit_profile_page' x.id %}" class="card-link">Add Photo</a>
                                {% else %}
                                    <h6>No Photo</h6>
                                {% endif %}
                                <!-- <img src="{% static 'portfolio_app/images/default_profile_pic.jpg'%}" class="img-fluid rounded-start" alt="..."> -->
                            </div>
                        {% endif %}
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{x.user.first_name}} {{x.user.last_name}}</h5>
                                <p class="card-text">Home Address: {{x.home_address}}</p>
                                <p class="card-text"><small class="text-muted">GPS Coordinates: [{{x.gps_lat}}, {{x.gps_lng}}]</small></p>
                                <p class="card-text"><small class="text-muted">Phone: {{x.phone_number}}</small></p>
                                {% if x.user.id == user.id %}
                                    <a href="{% url 'show_profile_page' x.id %}" class="card-link">View Profile</a>
                                    <a href="{% url 'map' %}" class="card-link">View in Map</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        {% endfor %}
    </ul>

{% endblock %}