{% extends 'base.html' %}
{% block title %}Create A New Profile Page{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Create A New Profile Page...</h1>
        <br/><br />

        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
                <button class="btn btn-secondary">
                    Create Profile Page
                </button>
            </form>
        </div>

        <br/>
        <br/>
        <a href="{% url 'home' %}" class="btn btn-secondary" >Back</a>
        
    {% else %}
        You are not authorized to perform this action.
    {% endif %}

{% endblock %}