{% extends 'base.html' %}
{% load static %}
{% block title %}{{user.email}}{% endblock %}

{% block content %}

    <h1>My Profile...</h1>

    <br/><br/>

    {% if user.is_authenticated %}
        {% if user.id == page_user.user.id %}
            <div class="shadow mb-5 bg-body rounded" style="max-width: 540px;">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        {% if page_user.profile_picture %}
                        <div class="col-md-4 d-flex align-items-center justify-content-center" style="background: rgb(227, 220, 220);">
                            <img src="{{page_user.profile_picture.url}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        {% else %}
                            <div class="col-md-4 d-flex align-items-center justify-content-center" style="background: rgb(227, 220, 220);">
                                <a href="{% url 'edit_profile_page' page_user.id %}" class="card-link">Add Photo</a>
                                <!-- <img src="{% static 'portfolio_app/images/default_profile_pic.jpg'%}" class="img-fluid rounded-start" alt="..."> -->
                            </div>
                        {% endif %}
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{page_user.user.first_name}} {{page_user.user.last_name}}</h5>
                                <p class="card-text">Home Address: {{page_user.home_address}}</p>
                                <p class="card-text"><small class="text-muted">GPS Coordinates: [{{page_user.gps_lat}}, {{page_user.gps_lng}}]</small></p>
                                <p class="card-text"><small class="text-muted">Phone: {{page_user.phone_number}}</small></p>
                                <a href="{% url 'edit_profile_page' page_user.id %}" class="card-link">Edit Profile</a>
                                <a href="{% url 'map' %}" class="card-link">View in Map</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <br/>
            <a href="{% url 'home' %}" class="btn btn-secondary" >Back</a>


        {% else %}
            You are not authorized to perform this action.
        {% endif %}
    {% else %}
        You are not authorized to perform this action.
    {% endif %}

{% endblock %}